# Loops and Iteration

In [1]:
n=5
while n>0:
    print(n)
    n=n-1
print('Blast off!')    
print(n)

5
4
3
2
1
Blast off!
0

In [2]:
while True:
    line=input('>')
    if line=='done':
        break
        print(line)
print('Done!')

>faiqa
>done
Done!

In [3]:
n=0
while n>0:
    print('Lather')
    print('Rinse')
print('Dry off')

Dry off

In [4]:
for i in [5,4,3,2,1]:
    print(i)
print ('Blast off!')

5
4
3
2
1
Blast off!

In [5]:
friends=['Joseph','Glenn','Sally']
for friend in friends :
    print('Happy new year',friend)
print('Done')

Happy new year Joseph
Happy new year Glenn
Happy new year Sally
Done

In [6]:
print ('before')
for Thing in[9,41,12,3,74,15]:
    print(Thing)
    print('After')

before
9
After
41
After
12
After
3
After
74
After
15
After

In [7]:
#finding the largest value

In [8]:
largest_so_far=-1
print('Before',largest_so_far)
for the_num in[9, 41, 12, 3, 74, 15]:
    if the_num>largest_so_far:
        largest_so_far=the_num
    print(largest_so_far,the_num)
print('After',largest_so_far)

Before -1
9 9
41 41
41 12
41 3
74 74
74 15
After 74

In [9]:
zork= 0
print('Before',zork)
for thing in[9, 41, 12, 3, 74, 15] :
    zork=zork+ 1
    print(zork, thing)
print('After',zork)

Before 0
1 9
2 41
3 12
4 3
5 74
6 15
After 6

In [10]:
zork = 0
print('Before', zork)
for thing in [9, 41, 12, 3, 74, 15] :
    zork = zork + thing
    print(zork, thing)
print('After')

Before 0
9 9
50 41
62 12
65 3
139 74
154 15
After

In [11]:
count = 0
sum = 0
print('Before', count, sum)
for value in [9, 41, 12, 3, 74, 15] :
    count = count + 1
    sum = sum + value
    print(count, sum, value)
print('After', count, sum, sum / count)

Before 0 0
1 9 9
2 50 41
3 62 12
4 65 3
5 139 74
6 154 15
After 6 154 25.666666666666668

In [12]:
print('Before')
for value in [9, 41, 12, 3, 74, 15] :
    if value > 20:
        print('Large number',value)
print('After')

Before
Large number 41
Large number 74
After

In [13]:
found = False
print('Before', found)
for value in [9, 41, 12, 3, 74, 15] :
    if value == 3 :
        found = True
    print(found, value)
print('After', found)

Before False
False 9
False 41
False 12
True 3
True 74
True 15
After True

In [14]:
largest_so_far = -1
print('Before', largest_so_far)
for the_num in [9, 41, 12, 3, 74, 15]:
    if the_num > largest_so_far :
        largest_so_far = the_num
    print(largest_so_far, the_num)
print('After', largest_so_far)

Before -1
9 9
41 41
41 12
41 3
74 74
74 15
After 74

In [15]:
smallest_so_far = -1
print('Before', smallest_so_far)
for the_num in [9, 41, 12, 3, 74, 15] :
    if the_num < smallest_so_far :
     smallest_so_far = the_num
    print(smallest_so_far, the_num)
print('After', smallest_so_far)

Before -1
-1 9
-1 41
-1 12
-1 3
-1 74
-1 15
After -1

In [16]:
smallest = None
print('Before')
for value in [9, 41, 12, 3, 74, 15] :
    if smallest is None :
        smallest = value
    elif value < smallest :
        smallest = value
    print(smallest, value)
print('After', smallest)

Before
9 9
9 41
9 12
3 3
3 74
3 15
After 3

In [17]:
smallest = None
print('Before')
for value in [3, 41, 12, 9, 74, 15] :
    if smallest is None :
        smallest = value
    elif value < smallest :
        smallest = value
    print(smallest, value)
print('After',smallest)

Before
3 3
3 41
3 12
3 9
3 74
3 15
After 3